<ion-header>
  <ion-toolbar class="toolbar-news">
    <ion-title>Suam News</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="toggleFavoritos()">
        {{ mostrandoFavoritos ? 'Todas' : 'Favoritos' }}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="news-bg">

  <div class="container">

    <div
      *ngFor="let n of listaExibida"
      class="card"
      (click)="abrirNoticia(n)"
    >

      <img [src]="n.urlToImage">

      <div class="content">

        <h2>{{ n.title }}</h2>

        <p>
          {{ n.description || 'Sem descrição disponível' }}
        </p>

        <button
class="fav-btn"
(click)="alternarFavorito(n); $event.stopPropagation()">

{{ ehFavorito(n) ? 'Remover Favorito' : 'Favoritar' }}

</button>

      </div>

    </div>

  </div>

</ion-content>