ion-content {
  --background: #f4f5f8;
}

ion-card {
  margin: 15px;
  border-radius: 16px;
}

ion-card-title {
  font-weight: bold;
}

ion-card-content {
  line-height: 1.6;
}

.footer {
  text-align: center;
  font-size: 14px;
  color: gray;
}