<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>Sobre</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Projeto SuamNews</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O SuamNews é um aplicativo mobile desenvolvido com o objetivo de exibir notícias atualizadas em tempo real, as notícias são obtidas através da NewsAPI, uma plataforma que
      disponibiliza notícias atualizadas de diversas fontes do mundo.
      O sistema possui cadastro e login de usuários utilizando Firebase.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Gabriel Alves</ion-card-title>
    </ion-card-header>

    <ion-card-content>
  <a href="https://www.instagram.com/_yresik/"
     target="_blank">
     @Yresik
  </a>
</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Renato Duarte</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Instagram: @renatoduarte
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Renato Nascimento</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Instagram: @renatonascimento
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Matheus Soares</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Instagram: @matheussoares
    </ion-card-content>
  </ion-card>

<ion-card>
  <ion-card-content class="footer">
    SuamNews © 2026
  </ion-card-content>
</ion-card>
</ion-content>